.label {
  font-size: 12px;
  margin: 0 0 0px;
  gap: 8px;
  position: relative;
}
.label.fullSize {
  width: 100%;
}

.label h1 {
  font-size: 12px;
  text-transform: capitalize;
  margin-left: 4px;
}

.textarea {
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  padding: 10px 6px 5px 0;
  margin: 0 10px;
  width: calc(100% - 10px);
  overflow: auto;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 180%;
}

.errormsg {
  margin-top: 55px;
}
.fullSize .errormsg {
  margin: 0;
}
.inputwrapper {
  height: 100px;
  height: 45px;
  width: 100%;
  border-radius: 8px;
  position: relative;
  transition: 0.4s;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 23px;
  overflow: hidden;
}

.inputwrapper[open] {
  height: 150px;
  z-index: 20;
}
.label.fullSize .inputwrapper {
  height: 120px;
  position: relative !important;
  top: 0;
}

.icon {
  position: absolute;
  right: 12px;
  font-size: 18px;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}

.icon svg {
  font-size: 18px;
}

.buttonbox {
  width: 100%;
  justify-content: flex-end;
  justify-content: center;
}

.button {
  padding: 0 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  letter-spacing: 0.5px;
  font-size: 11px;
  border-width: 1px;
  font-weight: 400;
  width: 350px;
  margin: 8px auto;
  max-width: 60%;
  transition: 0.4s;
  height: 35px;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .button {
    padding: 10px 8px 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    letter-spacing: 0.5px;
    font-size: 10px;
  }
}
