.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  padding: 80px 0;
}
.title {
  color: var(--color100);
  font-style: italic;
  font-size: clamp(40px, 4vw, 60px);
  font-family: var(--font-Cormorant);
}

.line {
  width: 100%;
  margin: 20px 0 0;
  height: 1px;
  background-color: white;
  opacity: 0.5;
}

.description {
  color: white;
  line-height: 1.7;
  width: 900px;
  max-width: 60%;
font-size: clamp(16px, 2vw, 20px);
  align-self: flex-end;
}

@media (max-width: 768px) {
  .description {
    max-width: 100%;
    width: 100%;
    align-items: center;
  }
  .container {
    gap: 10px !important;
    padding: 60px 0;
  }
}
