.container {
  width: 90%;
  margin: 0px auto 0;
  background-color: rgba(233, 213, 255, 0.02);
  padding: 60px 80px;
  border-radius: 15px;
  /* Animation properties */
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.heading {
  display: flex;
  align-items: center;
  position: relative;
  gap: 10px;
  margin-bottom: 20px;
  height: 65px;
  overflow: hidden;
}
.texts,
.heading h1 {
  display: block;
  font-size: clamp(35px, 5vw, 60px);
  font-weight: bold;
}
.mainWord {
  color: white;

}

.texts {
  color: rgb(174, 69, 255)!important;
}

.flex {
  display: flex;
  gap: 24px;
}

.card {
  padding: 20px 10px;
  width: 30%;
  min-width: 250px;
  max-width: 100%;
  flex-grow: 1;
}
.card svg {
  width: 50px;
  height: auto;
  aspect-ratio: 4/4;
  padding:10px;
  background-color: rgba(54, 1, 95, 0.459);
  color: rgb(174, 69, 255);
  border-radius: 12px;
  margin: 10px 0;
}

.cardTitle {
  font-size: clamp(18px, 2vw, 22px);
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 10px;
}

.cardDescription {
  font-size: clamp(14px, 1.5vw, 18px);
  color: #6c757d;
}

@media (max-width: 1024px) {
  .texts,
  .heading h1 {
    font-size: clamp(26px, 4.5vw, 45px);
  }
  .flex {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .texts,
  .heading h1 {
    font-size: clamp(24px, 6vw, 40px);
  }
  .flex {
    flex-direction: column;
  }
  .container {
    padding: 30px 40px;
  }
  .cardTitle {
    font-size: clamp(16px, 2vw, 20px);
  }
  .cardDescription {
    font-size: clamp(12px, 1.5vw, 16px);
  }
}

@media (max-width: 532px) {
  .heading {
    flex-direction: column;
    gap: 12px;
    height: 85px;
    margin-bottom: 15px;
  }
  .texts,
  .heading h1 {
    font-size: 28px;
  }
  .container {
    padding: 40px 10px 20px;
  }
  .cardTitle {
    font-size: clamp(18px, 2vw, 18px);
  }
  .cardDescription {
    font-size: clamp(13px, 1.2vw, 14px);
  }
  .flex {
    gap: 0px;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
