.card {
  max-height: 570px;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  display: flex;
  background-color: var(--bg200);
}

.card:nth-child(even) {
  flex-direction: row-reverse;
}

.descriptionBox {
  width: 50%;
  padding: 30px;
  box-sizing: border-box;
  flex-shrink: 0;
}

.card:nth-child(even) .descriptionBox {
  padding-left: 50px;
  padding-right: 5%;
  /* width: 100%; */
  width: 50%;
}

.descriptionBox h4 {
  font-size: clamp(18px, 3vw, 28px);
  color: #444;
  margin-bottom: 15px;
}

.descriptionBox p {
  font-size: clamp(13px, 2.5vw, 16px);
  line-height: 1.6;
  color: #888;
}

.image {
  aspect-ratio: 4 / 3;
  height: calc(100% - 20px);
  display: block;
  overflow: hidden;
  border-radius: 10px;
  width: 600px;
  margin: 10px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

@media (max-width: 768px) {
  .card:nth-child(even),
  .card {
    flex-direction: column-reverse;
    max-height: none;
  }



  .image {
    height: auto;
    border-radius: 10px;
    width: calc(100% - 20px);
    margin: auto;
    margin-top: 10px ;
  }

  .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  .card:nth-child(even) .descriptionBox,
  .descriptionBox {
    width: 100%;
    padding: 40px 35px;
  }
}

@media (max-width: 768px) {
  .card:nth-child(even) .descriptionBox,
  .descriptionBox {
    padding: 30px 25px;
  }
}
