.container {
  z-index: 2;
  position: sticky;
  top: -40px;
  background-color: var(--color-tr-400);
  transition: 0.2s;
  height: 130dvh;
  overflow: hidden;
  padding: 40px;
  backdrop-filter: blur(40px);
}

.wrapper {
  height: 100vh;
  overflow: hidden;
}

.title {
  font-size: clamp(24px, 4vw, 40px);
  color: rgb(255, 255, 255);
  transform: translateY(100%);
  transition: 1s;
  transition-delay: 0.5s;
}

.head {
  overflow: hidden;
}

.container.active .title {
  transform: translateY(0);
}

.index {
  font-size: clamp(50px, 10vw, 100px);
  color: var(--color100);
  transform: translateX(-100%);
  transition: 1s;
}

.container.active .index {
  transform: translateY(0);
}

.description {
  font-size: clamp(14px, 1.5vw, 17px);
  font-weight: 400;
  line-height: 1.6;
  color: white;
  opacity: 0;
  transition: 0.8s;
  transition-delay: 0.8s;
}

.container.active .description {
  opacity: 0.9;
}

.container:nth-child(odd) {
  direction: rtl;
}

.poster {
  width: 400px;
  height: 550px;
  max-height: 80vh;

  flex-grow: 1;
  border-radius: 20px;
  overflow: hidden;
  transition: 1.5s;

  transition-delay: 0.5s;
  transform: translateY(100%);
}

.container.active .poster {
  transform: translateY(20px);
}

.content {
  height: 100vh;
  width: 52%;
  direction: ltr;
  padding: 20px;
  padding-bottom: 0;
  position: relative;
}

@media (max-width: 900px) {
  .container {
    height: 100dvh;
    padding: 40px 5%;
    top: -10px;
  }

  .wrapper {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
    gap: 0 !important;
  }

  .poster {
    max-height: 40vh;
  }

  .content {
    width: 100%;
    padding: 10px 0;
    transform: translateY(0);
    height: max-content;
    gap: 10px !important;
  }

  .poster {
    max-width: 100%;
    width: 100%;
    transform: translateY(0);
  }

  .container:nth-child(odd) {
    direction: ltr;
  }
}
