/* WordPullUpV2.module.css */
.WordPullUpV3 {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
}

.wordWrapper {
  overflow: hidden;
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
}

.word {
  display: inline-block;
  white-space: pre;
  color: var(--main-color);
  letter-spacing: 2px;
}

.wordWrapper > .word {
  transform: translateY(100%);
}

.movingIn {
  transform: translateY(0);
}

.wordWrapper:hover .word {
  color: var(--highlight-color);
  cursor: pointer;
}
