.tableWrapper {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  height: 340px;
  overflow: auto;
}

.title {
  font-size: 16px;

  font-weight: 500;
  text-transform: capitalize;
}
.head {
  padding: 20px;
  position: sticky;
  top: 0;
  border-width: 0 0 1px 0 !important ;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.vistorsLable {
  opacity: 0.7;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
.table thead {
  font-weight: bold;
  font-size: 16px;
}
.table tr:first-child {
  border-top-width: 0;
}

.table tr {
  border-left-width: 0;
  border-right-width: 0;
  
}

.table th,
.table td {
  text-align: left;
  padding: 12px 0;
}
.table tr td:first-child {

}
.table tr td:last-child {
width: 100px;
}

.table th:first-child,
.table td:first-child {
  padding-left: 20px;
}

.table th:last-child,
.table td:last-child {
  padding-right: 20px;
}

.table tbody tr {
  transition: 0.2s ease;
  font-size: 14px;
}
