.sections {
    min-height: 100vh;

    margin: 0px auto;
    margin-top: 40px;
    gap:  20px 10px;
}
.container {
    
    padding-top: 50px;
    overflow: hidden;
    
    position: relative;
}
.section {
  background-color: var(--bg-transparent100);
  height: 350px;
  width: 100%;
  padding: 40px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.section span {
    font-size: 20px;
}
.bottom p {
    width: 50%;
}
.media {
    width: 480px;
    height: 240px;
    position: absolute;
    
right: 150px;
bottom: 0;
}
.bottom {
    align-items: end;
    height: 100%;
}