.container {
  height: 103vh;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-color: var(--main-bg);
}

.poster {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.posterAos {
  width: 45%;
  height: 100%;
}
.title {
  font-size: clamp(23px, 4vw, 50px) !important;
  margin: 5px 0 15px;

  color: var(--color200);
}
.pageTitle {
  color: white;
  color: var(--color100);
  opacity: 0.8;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}
.poster::before {
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  background-color: white;

  z-index: 10;
  position: absolute;
  transition: 0.8s;
}
.posterAos.active .poster::before {
  transform: translateX(100%);
}
.left {
  padding-left: 5%;
  width: 800px;

  max-width: 55%;
}
.description {
  line-height: 2;
  font-weight: 600;
  font-size: clamp(12px, 2vw, 16px);

  opacity: 0.7;

  color: var(--color100);
}

.aosText {
  transition: 0.6s;
  transform: translateY(50px);
  opacity: 0;
}

.active {
  opacity: 1;
  transform: translate(0);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 40px 5% 40px;
    gap: 20px !important;
    justify-content: space-between;
  }

  .left {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  .pageTitle {
    color: white;
    font-size: 12px;
  }
  .posterAos {
    width: 100%;
    height: 300px;
    flex-grow: 1;
    padding-bottom: 0px;
  }
  .poster {
    border-radius: 10px;
    overflow: hidden;
  }

}
