.wrapper {
  position: relative;
  min-height: 20px;
  width: auto;
  aspect-ratio: 2/1.35;
  display: flex;
}
.logo {
  position: absolute !important;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.6s;
}

.logo.active {
  opacity: 1;
}
