.container {
  width: calc(100vw / 3.7);
  min-width: 250px;
  flex-grow: 1;
  max-width: 95%;
  transition: 0.8s;
}


.cover {
  width: 100%;
  height: auto;
   aspect-ratio: 4 / 4.5;

  border-radius: 20px;
  overflow: hidden;
}
.cover img {
  transition: 0.6s;
  object-position: 0 15% !important;
}
.container:hover .cover img {
  transform: scale(1.05);
}

.date {
  font-size: 14px;
  color: gray;
}

.title {
  font-size: clamp(12px,3vw,25px);
  line-height: 1.5;
  color: #06003d;
}

.right {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.147);
  transition: 0.6s;
}
.right svg {
  font-size: 15px;
}
.container:hover .right {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transform: scale(1.2);
}

.content {
  text-align: start;
}

@media (max-width:550px) {
  .right {
    display: none !important;
  }
  .content {
    justify-content: center;
    text-align: center;
  }
  .cover {
    border-radius: 15px;
  }
  .date {
    font-size: 12px;
  }
  .title {
    font-size: 12px;
  }

}