.container {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  border-radius: inherit;
  border-radius: 12px;
  overflow: hidden;
  z-index: 10;
}

.spotlight {
  position: absolute;
  inset: 0;
  opacity: 0.9; 
  pointer-events: none;
  z-index: 0;
  transition: background 0.2s ease;
}

.text {
  position: relative;
  z-index: 1;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
