.card {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
  padding: 20px;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: url(#bubbleClip);

  padding: 20px 80px;
  background-color: #f7f7f7;
  color: black;

  font-size: 1rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  opacity: 1;
  pointer-events: auto;
}

.quote {
  font-size: clamp(14px, 1.7vw, 20px);
  line-height: 1.6;
  color: #222;
  margin-bottom: 20px;
  text-align: start;
}

.author {
  display: flex;
  align-items: center;
  text-align: start;
  gap: clamp(12px, 2vw, 20px);
}

.avatar {
  width: clamp(48px, 6vw, 65px);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-weight: 600;
  font-size: clamp(14px, 2vw, 16px);
  color: #111;
}

.title {
  margin-top: 4px;
  font-size: clamp(12px, 1.8vw, 14px);
  color: #888;
}

@media (max-width: 768px) {
  .card {
    padding: 0 10px;
  }
  .quote {
    margin: 0;

    text-align: center;
  }

  .author {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .name {
    font-size: 15px;
  }

  .title {
    font-size: 13px;
  }
  .content {
    padding: 10px 40px;
  }
}

@media (max-width:400px) {
  .content {
    padding: 10px 30px;
  }
}