.section {
  text-align: center;
  position: relative;

  margin: 80px 0 50px;
  z-index: 10;
}

.container {
  height: 60vh;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container::after,
.container::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  filter: blur(80px);
  background: linear-gradient(50deg, #5d00ff, #ff00e1, #3c00ff);
  z-index: 10;
  width: 450px;
}

.container::after {
  bottom: 100px;
  left: 15px;
  rotate: 10deg;
  height: 30%;
}

.container::before {
  top: 50px;
  right: 15px;
  rotate: -10deg;
  height: 25%;
}

.text h1 {
  font-size: clamp(20px, 5vw, 60px);
  font-weight: bold;
}

.container p {
  font-size: clamp(16px, 2vw, 20px);
  color: #666;
  line-height: 1.6;
}

@media (max-width: 1024px) {
  .container::after,
  .container::before {
    width: 350px;
    height: 20%;
  }
}

@media (max-width: 768px) {
  .container::after,
  .container::before {
    width: 250px;
    height: 15%;
  }
  .container::after {
    bottom: 100px;
    left: 0;
  }

  .container::before {
    top: 50px;
    right: 0;
  }
}

@media (max-width: 480px) {
  .container::after,
  .container::before {
    width: 180px;
    height: 10%;
    filter: blur(60px);
  }
}
