.projectmode {

}
.title {
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 10px 10px;
  text-transform: capitalize
}
.options {
  margin: 5px 0;
  padding: 5px 10px;

  background-color: rgba(255, 255, 255, 0.03);
  width: max-content;
  border-radius: 18px;
  height: 55px;
}
.option {
  padding: 5px 10px;
  border-radius: 10px;
  transition: 0.4s;
  cursor: pointer;
  font-size: 14px;
  height: 35px;
}
.option.active {
  background-color: rgba(255, 255, 255, 0.15);
}
.btn {
  padding: 5px 10px;
  
  height: 50px;
  border-radius: 15px;
  cursor: pointer;
  width: 150px;
  text-transform: capitalize;


}

.btn.warn {
  color: red;
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid rgba(255, 0, 0, 0.226);
}
.btn.build {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(97, 97, 97, 0.226);
}