.container {
  padding: 0 0 15vh;
  overflow: hidden;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.title {
  color: var(--color200);
  font-size: clamp(24px, 6vw, 100px);
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 1.2;
  opacity: 0.2;
}
.titleWrapper {
  position: relative;
}

.description {
  max-width: 100%;
  width: 800px;
  color: #444;
  font-size: clamp(16px, 4vw, 25px);
  font-weight: 500;
  line-height: 1.7;
  margin-top: 8px;
  color: var(--color200);
}
.classNameLine {
}
.pointBlock:nth-child(1) {
  margin-bottom: 75px;
}
.pointBlock:nth-child(1)::before {
content: "";
position: absolute;
width: 1.8px;
height: 100px;
background-color: var(--color200);
 bottom: -100px;
 opacity: 0.5;
}
.pointBlock {
  padding: 40px 0;
  /* border-bottom: 1px solid #ddd; */
  position: relative;
}
.pointBlock:last-child {
  border-bottom: none;
}

.titleWrapper {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  gap: 12px;
}


.card {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 4 / 3.5;
  height: auto;
  display: block;
  overflow: hidden;
  border-radius: 10px;

  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

.active {
  opacity: 1;
  transform: translateY(0px);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .card {
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px !important;
  }

  .container {
    padding: 10vh 0;
  }

  .description {
    width: 100%;
  }

  .title {
    font-size: clamp(20px, 8vw, 40px) !important;
  }

  .card {
    width: 100%;
    max-width: none;
  }

  .description span {
    opacity: 1 !important;
  }

  .accentBar {
    height: 10px;
  }
}
