.container {
  padding: 15vh 0;
  overflow: hidden;
  background-color: #f9f9f9;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.title {
  color: #111;
  font-size: clamp(24px, 3vw, 40px);
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.2;
}

.description {
  width: 100%;
  max-width: 600px;
  color: #444;
  font-size: clamp(16px, 2.2vw, 18px);
  font-weight: 400;
  line-height: 1.7;
  margin-top: 8px;
}

.pointBlock {
  padding: 40px 0;
  border-bottom: 1px solid #ddd;
}
.pointBlock:last-child {
  border-bottom: none;
}

.titleWrapper {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  gap: 12px;
}

.accentBar {
  width: 10px;
  height: 10px;
  background-color: var(--color200);
  border-radius: 2px;
  border-radius: 50%;

}

.card {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 4 / 3.5;
  height: auto;
  display: block;
  overflow: hidden;
  border-radius: 10px;

  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

.active {
  opacity: 1;
  transform: translateY(0px);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .card {
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px !important;
  }

  .container {
    padding: 10vh 0;
  }

  .description {
    width: 100%;
  }

  .title {
    font-size: clamp(20px, 8vw, 40px) !important;
  }

  .card {
    width: 100%;
    max-width: none;
  }

  .description span {
    opacity: 1 !important;
  }

  .accentBar {
    height: 25px;
  }
}
