.servicesWrapper {
  display: flex;
  position: relative;
  padding: 100px 40px;
  width: 80%;
  margin: 0 auto; 
  gap: 60px;           
  justify-content: center;
}

.contentArea {
  width: 50%;
  padding-right: 40px; 
  box-sizing: border-box;
  font-size: 16px;
  line-height: 28px; 
  color: #222;
}

.posterArea {
  width: 50%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .servicesWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px; 
  }

  .contentArea {
    width: 100%;
    padding: 0;
    margin-bottom: 50px;
  }
}
