.servicesWrapper {
  display: flex;
  position: relative;
  padding: 100px 40px;
  width: 90%; 
  margin: 0 auto;
  gap: 60px;
  justify-content: center;
}

.contentArea {
  width: 50%;
  padding-right: 40px; 
  box-sizing: border-box;
  font-size: 16px;
  line-height: 28px; 
  color: #222;
}

.posterArea {
  width: 70%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .servicesWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px; 
  }

  .contentArea {
    width: 100%;
    padding: 0;
    margin-bottom: 50px;
  }

   .posterArea {
    width: 100%;
    aspect-ratio: unset;
  }
}
