.servicesWrapper {
  height: 100vh;
  width: 100%;
  position: relative;
}

.sliderHeader {
  position: absolute;
  top: 16px;
  right: 24px;
  z-index: 10;
  display: flex;
  gap: 8px;
}

.navButton {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #666;
  background-color: white;
  padding-bottom: 1px;
  color: #666;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  transition: 0.3s;
}

.navButton:hover {
  background-color: #333;
  color: #fff;
}

.sliderWrapper {
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;

  -ms-overflow-style: none;
  scrollbar-width: none;
   padding-top: 64px;
}

.sliderWrapper::-webkit-scrollbar {
  display: none;
}

.slider {
  display: flex;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  gap: 16px;
}

.spacer {
  width: 180px;
  flex-shrink: 0;
}

@media (max-width: 1024px) {
  .slider {
    padding-left: 16px;
    padding-right: 16px;
    gap: 12px;
  }
  .spacer {
    width: 100px;
  }
}

@media (max-width: 768px) {
  .slider {
    padding-left: 8px;
    padding-right: 8px;
    gap: 5px;
  }
  .spacer {
    width: 20px;
  }
  .sliderHeader{
    display: none;
  }
}
