.container {
  z-index: 2;
  background-color: var(--color500);
  transition: 0.2s;
  width: 100%;

  padding: 15px 0 0;
}
/* .container * {
  text-align: start;
} */
.wrapper {
  height: 100%;
  margin: 0 auto;
  background-color: white;
  max-width: 1800px;
}

.subTitle {
  font-size: clamp(24px, 3vw, 40px);
  color: var(--color200);
  transform: translateY(20px);
  transition: 1s;
  font-weight: 400;
  transition-delay: 0.3s;
  color: rgb(16, 51, 126);
  margin: 15px 0;
  opacity: 0;
}

.head {
  overflow: hidden;
}

.container.active .subTitle {
  transform: translateY(0);
  opacity: 1;
}

.title {
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 15px;
  background-color: var(--bg200);
  width: max-content;
  color: var(--bg100);
  border: 1px solid rgb(236, 236, 236);

  font-weight: 400;
  border-radius: 20px;
  transform: translateY(20px);

  transition: 0.8s;
  opacity: 0;
}

.container.active .title {
  transform: translateY(0);
  opacity: 1;
}

.description {

  opacity: 0;
  transition: 0.8s;
  transition-delay: 1s;

  transform: translateY(20px);
}

.container.active .description {
  opacity: 1;

  transform: translateY(0px);
}

.container:nth-child(odd) {
  direction: rtl;
}
.posterWrapper {
  width: calc(50% - 10px);
  height: calc(100vh - 30px);
  border-radius: 20px;
  overflow: hidden;
  position: sticky;
  top: 15px;

  transform: translateY(100%);
  transition: 1.5s;
  opacity: 0;
}
.container.active .posterWrapper {
  transform: translateY(0);
  opacity: 1;
}
.subTitlePoster {
  position: absolute;
  left: 5%;
  bottom: 5%;
  line-height: 1.4;
  color: white;
  font-weight: 400;
  font-size: clamp(20px, 4vw, 50px);
}
.poster {
  width: 100%;
  height: 100%;

  overflow: hidden;
  transition: 1.5s;

  transition-delay: 0.2s;
}
.poster::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #0c0f21;
  z-index: 2;
  opacity: 0.45;
}

.container.active .poster {
  transform: translateY(0);
}

.content {
  min-height: calc(100vh - 20px);
  width: 50%;
  direction: ltr;
  position: relative;
  padding: 50px 5% 40px;
}
.keypoints {
  border-top: 1px solid transparent;
  padding-top: 20px;
  transition: 0.6s;
  transition-delay: 1.4s;
}

.container.active .keypoints {
  border-color: #0000001a;
}
.point {
  border-radius: 15px;
  width: max-content;
  font-size: 16px;
  position: relative;
  transform: translateX(20px) translateY(20px);

  transition: 0.8s;
  opacity: 0;
}
.container.active .point {
  opacity: 1;

  transform: translateX(20px);
}
.point::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.111);
  left: -20px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.projects {
    border-top: 1px solid transparent;
    padding-top: 20px;
    transition: 0.4s;
}
.container.active .projects {
  border-color: #0000001a;
}
.projectstitle {
  font-size: 20px;
}
.posterImg {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
}

.project {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.8s;
}

.container.active .project {
  opacity: 1;
  transform: translateY(0);
}

.projectstitle {
  font-size: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.8s;
}

.container.active .projectstitle {
  opacity: 1;
  transform: translateY(0);
}
@media (max-width: 950px) {
  .subTitle {
    margin: 10px 0;
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column-reverse;
    gap: 25px;
  }
  .posterWrapper {
    width: 100%;
    margin: 0 auto;
    height: auto;
    aspect-ratio: 1.2/1;
    position: relative;
    top: unset;
    border-radius: 0;
  }
  .content {
    width: 90%;
    margin: auto;
    padding: 0;
    min-height: max-content;
    padding: 0 0 20px 0;
  }
  .point {
    font-size: clamp(12px, 2vw, 16px);
  }
  .posterWrapper {
  transform: translateY(0);
}

}


@media (max-width: 432px) {
 .title{
  font-size: 9px;
 }
}
