.container {
  min-height: 40vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.pointBg {
  background-color: rgba(0, 0, 0, 0.15);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 20px 0;
  transition: 0.6s;
}

.content {
  position: absolute;
  right: 5%;
  bottom: 50%;
  transform: translateY(50%) translateX(-15px);
  width: 800px;
  max-width: 100%;
  padding: 40px 20px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
}
.text {
  line-height: 1.5;
  font-size: clamp(15px, 3vw, 24px);
  font-weight: 600;
  color: black !important;
}

.pointBg.active {
  background-color: blue;
  transform: scale(3);
  
  box-shadow: 0 0 10px blue;
}

@media (max-width: 1024px) {
  .content {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translateY(50%) translateX(50%);
    text-align: center;
  }
  .pointBg {
    background-color: rgba(0, 0, 0, 0.15);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin: 2.5vh 0;
    transition: 0.6s;
  }
}
