.container {
  min-height: 60vh;
  width: 100%;
  /* overflow: hidden; */
  position: relative;
}

.content {
  position: absolute;
  right: 0%;
  bottom: 50%;
  transform: translateY(50%) translateX(-15px);
  width: 800px;
  max-width: 100%;
  padding: 40px 40px;
}
.text {
  line-height: 1.7;
  font-size: clamp(12px, 3vw, 20px);
  font-weight: 500;
}

.bgImage {
  position: absolute;
  left: 0%;
  top: 50%;
  width: auto !important;
  transform: rotate(30deg) translateX(-16.3%) translateY(50px);
  height: 68vh ;
  aspect-ratio: 4/2.1;
  top: 0;
  z-index: -1;
}
@media (max-width: 1024px) {
  .content {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translateY(50%) translateX(50%);
    text-align: center;
  }
  .pointBg {
    background-color: rgba(0, 0, 0, 0.15);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin: 2.5vh 0;
    transition: 0.6s;
  }
}
@media (max-width: 500px) {
  .text {
    font-weight: 500;
  }
  .pointBg.active {
    transform: scale(1.5);
    box-shadow: 0 0 5px blue;
  }
}
