.section {
  width: 80%;
  height: 50vh;
  margin: 60px auto;
  border-radius: 12px;
  box-sizing: border-box;
  background-color: var(--bg200);
  overflow: hidden;
  position: relative;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.left {
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.right {
  max-width: 500px;
  position: relative;
  z-index: 3;
  margin-bottom: 40px;
}

.title {
  font-size: clamp(20px, 4vw, 32px);
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 16px;
  color: var(--color200);
}

.description {
  font-size: clamp(14px, 2.5vw, 18px);
  margin-bottom: 20px;
  color: #848484;
}

.verticalMesh {
  transform: rotate(40deg) translateX(-140px) translateY(60px);
  width: 750px;
  height: 400px;
  transition: all 0.3s ease;
}

.link {
  display: inline-block;
  padding: 12px 24px;
  background-color: #ffffff;
  color: #333;
  border-radius: 8px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  font-size: clamp(14px, 2vw, 16px);
}

.link:hover {
  background-color: #f0f0f0;
  color: #666;
}

@media (max-width: 992px) {
  .section {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    padding: 40px 30px;
  }

  .verticalMesh {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(1deg);
    z-index: 1;
  }

  .right {
    z-index: 3;
    position: relative;
  }

  .left {
    z-index: 1;
  }
}

@media (max-width: 523px) {
  .section {
    width: 95%;
    height: 45vh;
  }
  .wrapper {
    width: 100%;
    align-items: normal;
  }
  .verticalMesh {
    transform: translateX(-50%) rotate(10deg);
  }
}
