.container {
  min-height: 20vh;
  width: 90%;
  margin: 75px auto;
  position: relative;
  overflow: hidden;
  color: rgb(0, 0, 0);
}

.title {
  line-height: 1.3;
  font-size: clamp(25px, 5vw, 60px);
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.description {
  line-height: 1.5;
  font-weight: 500;
  font-size: clamp(16px, 3vw, 20px);
  color: #000000;
  opacity: 0.7;
}
.title,
.description {
  width: 800px;
  max-width: 70%;
}

.link {
  padding: 42px 40px 40px;
  text-transform: uppercase;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.23);
  width: 150px;
  height: 150px;
  font-weight: bold;
  font-size: 14px;
}

.arrow {
  border: 1px solid rgba(0, 0, 0, 0.23);
  position: absolute;
  right: -10px;
  top: -10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: 0.6s;
}
.arrow svg {
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.aos {
  opacity: 0;
  transition: 0.8s;
}
.aos.active {
  opacity: 1;
}
.aosBtn {
  position: absolute;
  right: 5%;
  transform: translateX(100%);
  opacity: 0;
  transition: 0.6s;
}

.aosBtn.active {
  transform: translate(0);
  opacity: 1;
}

@media (max-width: 768px) {
  .title,
  .description {
    text-align: center;
    max-width: 100%;
    justify-content: center;
  }

  .aosBtn {
    position: relative;
    right: unset;
    width: max-content;
    margin: auto;
  }

  .link {
    padding: 10px;
    text-transform: uppercase;
    border-radius: 40px;
    height: 50px;
    font-weight: bold;
    font-size: 12px;
    padding-top: 14px;
  }

  .arrow svg {
    font-size: 18px;
  }

  .link:hover .arrow {
    right: -20px;
    top: -20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  .container {
    margin-bottom: 0;
  }
}

/* @media (max-width: 450px) {
  .link {
    padding-top: 10px;
    text-transform: uppercase;
    border-radius: 40px;
    border: 1px solid black;
    height: 40px;
    width: 120px;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
  }

  .arrow {
    background-color: rgb(0, 0, 0);
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    transition: 0.6s;
  }
  .arrow svg {
    color: white;
    font-size: 15px;
  }
} */
