.container {
  min-height: 60vh;
  overflow: hidden;
  position: relative;
  color: rgb(0, 0, 0);
  margin: 0 auto;

}
.top {
  max-width: 60%;
  width: 800px;

  padding-top: 80px;
  padding-left: 7%;
}
.title {
  line-height: 1.3;
  font-size: clamp(25px, 5vw, 50px);
  font-weight: 600;
  color: #000;

  display: flex;
  gap: 10px !important;
  max-width: 100%;

}

.description {
  line-height: 1.5;
  font-weight: 500;
  font-size: clamp(16px, 3vw, 18px);
  color: #000;
  opacity: 0.7;
}

.mesh {
  position: absolute;
  top: 0;
  right: 0;
  width: 1000px;
  height: 600px;
  overflow: hidden;
  z-index: -1;
  transform: rotate(-25deg) translateY(0px) translateX(80px);
}

.aos {
  opacity: 0;
  transition: 0.8s;
}
.aos.active {
  opacity: 1;
}
@media (max-width:1245px) {
  .mesh {
    width: 80vw;
    height: 50vw;
    
  transform: rotate(-30deg) translateY(150px) translateX(120px);
  }
}
@media (max-width: 768px) {
  .container {
    margin: 0px auto;
  }

  .top {
    padding: 60px 12px 0;
    width: 100%;
    max-width: 100%;
  }

  .title,
  .description {
    max-width: 100%;
    justify-content: center;
    text-align: center;
  }

  .mesh {
    /* width: 1000px; */
    /* height: 50vw; */
    width: 140%;
    height: 40vh;
    left: -15%;
    /* transform: rotate(20deg);
    opacity: 0.5; */
    transform: translate(0);
    bottom: unset;
    position: relative;
    margin:  -50px 0;
  }
  .title{
    gap: 5px !important;
  }
}