.MobileNav {
  width: 100%;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wrapperMobile {
  background-color: white;
}

.navList {
  list-style: none;
  padding: 40px 20px;
  margin: 0;
  width: 100%;
  margin-top: 20px;
}
.navList a {
  font-size: clamp(20px, 4vw, 30px);
  font-weight: bold;

  width: max-content;
  padding: 8px 20px;
  transition: 0.4s;
  border-radius: 20px;
}
.navList svg {
  font-size: clamp(20px, 6vw, 30px);
  opacity: 0.25;
}
.navList li:last-child svg {
  transform: translateY(2px);
}

.navList a:hover {
  
  background-color: rgba(164, 250, 253, 0.6);
  color: rgb(0, 195, 255);
}

.navList a.active {
  
  background-color: rgba(164, 250, 253, 0.6);
  color: rgb(0, 195, 255);
}

.nav:has(a:hover) a.active:not(:hover) {
  color: white;
  background-color: unset;
}

.wrapperMobile {
  position: fixed;
  left: -100%;
  top: 0;
  z-index: 99;
  width: 90%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #ffffff24;
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(15px);
}

.activeMobile {
  left: 0;
}

@media (min-width: 995px) {
  .wrapperMobile {
    display: none;
  }
}
