.container {
  display: flex;
  flex-direction: column;
}

.line {
  opacity: 0;
  transform: translateY(40px);
}

.show .line {
  animation: slideUp ease-out forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
