.card {
  border-radius: 20px;
  
}

.card {
  background: linear-gradient(135deg, #f5f7fa, #ffffff);

  border-radius: 20px;
}

.card:nth-child(even) {
  flex-direction: row-reverse;
  background: linear-gradient(-135deg, #f5f7fa, #ffffff);
}

.content {
  width: 50%;
  padding: 30px;
  box-sizing: border-box;
  flex-shrink: 0;
  margin: auto;
}

.card:nth-child(even) .content {
  padding-left: 50px;
  padding-right: 5%;
  width: 50%;
}

.name,
.content h4 {
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.name {
  color: #1e3a8a; /* rich modern blue */
  margin-bottom: 12px;

  transition-delay: 0.3s;
  text-transform: capitalize !important;
}

.content h4 {
  color: #1c4db6;
  margin-bottom: 10px;
  transition-delay: 0.6s;
  letter-spacing: 0.6px;
  line-height: 1.5;
}

.active .name {
  transform: translateY(0);
  opacity: 1;
}

.active .content h4 {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.3s;
}

.image {
  aspect-ratio: 4 / 3.5;
  height: calc(100%);
  display: block;
  overflow: hidden;
  border-radius: 10px;
  width: 600px;
  margin: 10px;

  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  transition: 1s;
  opacity: 0;
  transform: translateY(105%);
  position: sticky;
  top: 120px;
}
.active .image {
  transform: translateY(0);
  opacity: 1;
}

.image img {
  object-fit: cover;
  object-position: top;

  border-radius: 10px;
  margin: auto;
}

.socialLinks {
  display: flex;
  gap: 16px;
}

.socialAnchor {
  font-size: clamp(14px, 1.2vw, 20px);

  color: rgb(0, 0, 0);
  transition: color 0.3s ease, transform 0.3s ease;
}

.socialAnchor a:hover {
  color: #0d6efd;
  transform: scale(1.1);
}

.socialIcon {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .card:nth-child(even),
  .card {
    flex-direction: column-reverse;
    max-height: none;
  }

  .image {
    height: auto;
    border-radius: 10px;
    width: calc(100% - 20px);
    margin: auto;
    margin-top: 10px;

    transform: none !important;
    opacity: 0;
    transition: opacity 0.6s ease;
  }

  .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  .card:nth-child(even) .content,
  .content {
    width: 100%;
    padding: 40px 35px;
  }

  .content h4 {
    font-size: 16px;
  }

  .content p {
    font-size: 14px;
  }

  .name,
  .content h4,
  .content p {
    /* Remove translateY */
    transform: none !important;
    opacity: 0;
    transition: opacity 0.6s ease;
  }

  .active .name,
  .active .content h4,
  .active .content p,
  .active .image {
    transform: none !important;
    opacity: 1;
    transition-delay: 0.3s;
  }
}

@media (max-width: 550px) {
  .card:nth-child(even) .content,
  .content {
    padding: 30px 25px;
  }

  .content h4 {
    font-size: 14px;
  }

  .content p {
    font-size: 12px;
  }
}
