.section {
  min-height: 100vh;
}

.content {
  width: 50%;
  background-color: white;
  padding: 84px 30px 0px;
  overflow: hidden;
  margin: auto;
}

.title {
  font-size: clamp(25px, 5vw, 4vw);
  color: var(--color200);
  font-weight: 500;
  opacity: 0;
  transform: translateY(50px);
  animation: introTitle 0.8s forwards 1s;
}

@keyframes introTitle {
  form {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.description {
  margin: 15px 0;
  font-size: clamp(12px, 1.2vw, 3vw);
  color: gray;
  line-height: 170%;
}
.AnimtionWrap {
  transform: translateY(100%);
  opacity: 0;
  transition: 0.8s;
}
.AnimtionWrap.event {
  transform: translateY(0);
  opacity: 1;
}

.bgwrapper {
  height: 100vh;
  width: 38%;
  position: sticky;
  top: 0;
  background: linear-gradient(120deg, #001f3f, #003f7f) !important;
}

.bg {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.canvas {
  position: absolute;
  top: 0;
  left: -200px;
  width: 170%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  transform: rotate(85deg);
  transform-origin: center center;
}

@media (max-width: 1024px) {
  .canvas {
    left: -200px;
    width: 230%;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 30px;
    width: 90%;
    transform: translateY(-70px);
    border-radius: 15px;
  }
  .section {
    flex-direction: column;
  }
  .bgwrapper {
    position: relative;
    top: unset;
    width: 100%;
    height: 30vh;
  }
  .canvas {
    transform: rotate(0deg);
  }
}
@media (max-width: 560px) {
  .section {
    background-color: rgb(237, 252, 255);
  }
  .bg::before {
    opacity: 0;
  }

  .info .value {
    font-size: 12px;
  }
  .info .item svg {
    font-size: 20px;
  }
  .info {
    padding: 15px 0 0;
  }
}
