.floated {
  animation: float-in 0.8s ease-out forwards;
  opacity: 0;
  transform: translateY(50px);
  will-change: transform, opacity;
}

@keyframes float-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
