.title {
  font-size: 12px;
  margin: 0 5px;
  text-transform: capitalize;
}

.btn {
  margin: 6px 0;
  padding: 7px 7px 6px;
  width: 130px;
  height: 45px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 13px;
  text-transform: capitalize;
  position: relative;
  max-width: 100%;
  transition: 0.2s border;
  border-width: 1px;
}

.btn:hover {
  background: rgba(0, 0, 0, 0) !important;
}

.icon {
  margin: 2px 7px 0;
  cursor: pointer;
}
.icon:first-child {
  margin-left: 8.5px;
}

.state {
  position: absolute;
  top: 50%;
  border-radius: 7px;
  transform: translate(0, -50%);
  width: 40px;
  height: 80%;
  background-color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  transition: 0.4s;
}

/* LTR direction */
html[dir="ltr"] .state {
  left: 4px;
}

/* RTL direction */
html[dir="rtl"] .state {
  right: 4px;
}

.btn span svg {
  color: white;
  mix-blend-mode: difference;
  position: relative;
  z-index: 10;
  font-size: 18px;
}

/* LTR direction */
html[dir="ltr"] .dark {
  left: calc(80% - 18.5px);
}

/* RTL direction */
html[dir="rtl"] .dark {
  right: calc(80% - 18.5px);
}

@media (max-width: 420px) {
  .btn {
    height: 38px;
  }

  .state {
    position: absolute;
    top: 50%;
    border-radius: 50%;
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 392px) {

  /* LTR direction */
  html[dir="ltr"] .dark {
    left: calc(80% - 16px);
  }

  /* RTL direction */
  html[dir="rtl"] .dark {
    right: calc(80% - 16px);
  }
}