.container {
  height: calc(100vh);
  width: 100%;
}

.slide,
.media {
  width: 100%;
  height: 100%;
  position: relative;
}

.media img {
  object-position: 0 16% !important;
}

.titleBox {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 12vh;
  width: max-content;
  z-index: 10;
  max-width: 90%;
}

.titleBox .title {
  /* color: white; */
  text-transform: uppercase;
  font-size: clamp(20px, 3vw, 70px);
  width: 850px;
  max-width: 100%;
  font-weight: 600;
  /* text-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
  text-align: center;
  display: flex;
  justify-content: center;
}

.description {
  color: white;

  animation: intro 0.6s forwards 0.8s;
  opacity: 0;
  transform: translateY(20px);
}
.link {
  opacity: 0;
  transform: translateY(20px);
  animation: intro 0.6s forwards 1.2s;
}

@keyframes intro {
  form {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .titleBox {
    bottom: 18vh;
  }
  .title {
    text-align: center !important;
    display: flex;
    justify-content: center;
  }
}
