.newsContainer {
  width: 100%;
  background-color: white;
  padding: 40px 0;
}

.headSection {
  width: 90%;
  margin: 0 auto 10px;
  padding: 20px 0;
}

.headingTitle {
  font-size: clamp(36px, 5vw, 50px);
  max-width: 95%;
  font-weight: 500;
  margin-bottom: 24px;
}

.latestCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  width: 100%;
}

.headerContainer {
  width: 90%;
  margin: 0 auto 40px;
  padding: 10px 0;
}

.categories {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  max-width: 70%;
}

.categoryItem {
  color: #999898;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.6s;
  position: relative;
  text-transform: capitalize;
}

.categoryItem:hover {
  color: #000;
}

.categoryItem.active {
  opacity: 1;
  color: #000;
}
.filters {
  align-items: baseline;
}
.categories {
  width: calc(100% - 300px);
}
.search {
  transform: translateY(5px);
}
.categories .list {
  width: 100%;
  margin: auto;
  min-height: 60vh;
}

.gridList,
.skeletonGrid {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
}

.emptydata {
  width: 90%;
  margin: 0 auto;
  min-height: 50vh;
}

.skeletonGrid {
  padding-bottom: 40px;
}

.skeletonCard {
  height: 400px;
}

.gridItem {
  text-align: center;
}

.search {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1720310d;
  border-radius: 25px;
  padding: 0 20px;
}

.search svg {
  color: rgba(128, 128, 128, 0.8);
  font-size: 25px;
  transform: translateY(-1px);
}

.searchInput {
  padding: 16px 10px 14px;
  border: none;
  outline: none;
  width: 200px;
  background-color: transparent;
  color: #000;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: var(--fw-m);

  color: rgba(128, 128, 128, 0.8);
}

.searchInput:focus {
  border-color: #555;
}

.searchInput::placeholder {
  color: var(--p);
  font-weight: var(--fw-m);
  color: rgba(128, 128, 128, 0.8);
}

.searchButton {
  margin-left: 10px;
  padding: 10px 15px;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.searchButton:hover {
  background-color: #555;
  border-color: #555;
}

@media (max-width: 768px) {
  .headerContainer {
    margin: 25px auto;
  }
  .filters {
    flex-direction: column-reverse;
  }
  .categories {
    width: 100%;
  }
  .search {
    max-width: 100%;
  }
}

@media (max-width: 478px) {
  .gridList {
    padding: 0;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .skeletonCard {
    height: 300px;
    width: 100%;
  }
}
