.newsContainer {
  width: 100%;
  background-color: white;
  padding: 0 0 140px;
}

.headSection {
  width: 90%;
  margin: 0 auto 10px;
  padding: 20px 0;
}

.headingTitle {
  line-height: 1.3;
  font-size: clamp(20px, 6vw, 80px);
  max-width: 95%;
}

.headerContainer {
  width: 90%;
  margin: 20px auto 40px;
  padding: 10px 0;
}

.categories {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  max-width: 70%;
}

.categoryItem,
.categoryItem.active {
  color: #999898;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.6s;
  position: relative;
  text-transform: capitalize;

  transform: translateY(20px);
  opacity: 0;
  animation: intro 0.6s forwards;
}
.categoryItem.active {
  color: #000;
}

@keyframes intro {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.categoryItem:hover {
  color: #000;
}

.filters {
  align-items: center;
}
.categories {
  width: calc(100% - 300px);
}
.search {
  transform: translateY(5px);
  opacity: 0;
  transition: 0.4s;
}

.search.active {
  opacity: 1;
}
.categories .list {
  width: 100%;
  margin: auto;
  min-height: 60vh;
}

.gridList,
.skeletonGrid,
.latestCards {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 20px;
}

.emptydata {
  width: 90%;
  margin: 0 auto;
  min-height: 50vh;
}

.skeletonGrid {
  padding-bottom: 40px;
}

.skeletonCard {
  height: 400px;
}

.gridItem {
  text-align: center;
}

.fadeInUp {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fadeInUp.active {
  opacity: 1;
  transform: translateY(0);
}

.search {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1720310d;
  border-radius: 25px;
  padding: 0 20px;
}

.search svg {
  color: rgba(128, 128, 128, 0.8);
  font-size: 25px;
  transform: translateY(-1px);
}

.searchInput {
  padding: 16px 10px 14px;
  border: none;
  outline: none;
  width: 200px;
  background-color: transparent;
  color: #000;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: var(--fw-m);

  color: rgba(128, 128, 128, 0.8);
}

.searchInput:focus {
  border-color: #555;
}

.searchInput::placeholder {
  color: var(--p);
  font-weight: var(--fw-m);
  color: rgba(128, 128, 128, 0.8);
}

.searchButton {
  margin-left: 10px;
  padding: 10px 15px;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.searchButton:hover {
  background-color: #555;
  border-color: #555;
}
.listWapper {
  transform: translateY(50px);
  opacity: 0;
  transition: 1s;
}

.listWapper.active {
  opacity: 1;
  transform: translate(0);
}
@media (max-width: 768px) {
  .headerContainer {
    margin: 0px auto 20px;
  }
  .filters {
    flex-direction: column-reverse;
    align-items: start;
  }
  .categories {
    width: 100%;
    max-width: 100%;
  }
  .search {
    width: 100%;
    justify-content: start ;
  }


}

@media (max-width: 478px) {
  .gridList,
  .latestCards {
    padding: 0;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .skeletonCard {
    height: 300px;
    width: 100%;
  }
}
