.WordPullUpV2 {
  gap: 0.5%; /* optional spacing between words */
  width: max-content;
  flex-grow: 1;
}

.wordWrapper {
  display: inline-block;
  overflow: hidden;
}

.word {
  display: inline-block;
  white-space: pre;
}
