.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  padding: 80px 0 100px;
}
.title {
  color: var(--color100);
  font-style: italic;
  font-size: clamp(16px, 4vw, 60px);
  font-family: var(--font-Cormorant);
}

.description {
  color: white;
  line-height: 1.7;
  width: 900px;
  font-size: 20px;
  align-self: flex-end;
}
