.childOne {
  /* position: sticky;
  top: 0px; */
  background-color: rgba(255, 0, 0, 0);
}

.childTwo {
  width: 100%;
  margin: auto;
  padding: 0 2%;
}

.spaceSection {
  height: 50px;
}

.bgPoster {
  width: 300px;
  height: auto;

  aspect-ratio: 50/11.5;

  position: fixed;
  left: 50%;
  top: 47.5%;
  transform: translate(-50%, -50%);
}

.textpage {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}