.container {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: clamp(20px, 6vw, 60px);
}
.poster {
  width: 60%;
  height: 111%;
  overflow: hidden;
  border-radius: 0 0 0 45px;
}
.left {
  padding-left: 5%;
}
.description {
  line-height: 1.5;
}
