:root {
    --color-1: hsl(0, 100%, 63%);
    --color-2: hsl(270, 100%, 63%);
    --color-3: hsl(210, 100%, 63%);
    --color-4: hsl(195, 100%, 63%);
  }
  
  .auroraText {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    padding: 5px 010px;

  }
  
  .overlay {
    pointer-events: none;
    position: absolute;
    inset: 0;
    mix-blend-mode: lighten;
  }
  
  .aurora {
    pointer-events: none;
    position: absolute;
    width: 30vw;
    height: 30vw;
    filter: blur(1rem);
    mix-blend-mode: overlay;
    animation: aurora-border 6s ease-in-out infinite;
  }
  
  .aurora1 {
    top: -50%;
    background: var(--color-1);
    animation: aurora-1 6s ease-in-out infinite alternate;
  }
  
  .aurora2 {
    right: 0;
    top: 0;
    background: var(--color-2);
    animation: aurora-2 6s ease-in-out infinite alternate;
  }
  
  .aurora3 {
    bottom: 0;
    left: 0;
    background: var(--color-3);
    animation: aurora-3 6s ease-in-out infinite alternate;
  }
  
  .aurora4 {
    bottom: -50%;
    right: 0;
    background: var(--color-4);
    animation: aurora-4 6s ease-in-out infinite alternate;
  }
  
  @keyframes aurora-border {
    0%, 100% { border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%; }
    25% { border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%; }
    50% { border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%; }
    75% { border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%; }
  }
  
  @keyframes aurora-1 {
    0%, 100% { top: 0; right: 0; }
    50% { top: 50%; right: 25%; }
    75% { top: 25%; right: 50%; }
  }
  
  @keyframes aurora-2 {
    0%, 100% { top: 0; left: 0; }
    60% { top: 75%; left: 25%; }
    85% { top: 50%; left: 50%; }
  }
  
  @keyframes aurora-3 {
    0%, 100% { bottom: 0; left: 0; }
    40% { bottom: 50%; left: 25%; }
    65% { bottom: 25%; left: 50%; }
  }
  
  @keyframes aurora-4 {
    0%, 100% { bottom: 0; right: 0; }
    50% { bottom: 25%; right: 40%; }
    90% { bottom: 50%; right: 25%; }
  }
  