.container {
  background-color: #f9f9f9;
  position: relative;
}

.wrapper {
  max-width: 1200px;
  max-width: 90%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: clamp(24px, 5vw, 48px);
  align-items: stretch;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 16px 0;

  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  height: max-content;
  margin: auto 0;
}

.left h2 {
  font-size: clamp(24px, 5vw, 40px);
  font-weight: 700;
  line-height: 1.2;
  color: #111;
  margin-bottom: 16px;
}

.left p {
  font-size: clamp(16px, 2vw, 20px);
  color: #444;
}
.buttons svg {
  font-size: 18px;
}
.buttons {
  display: flex;
  gap: 12px;
}

.buttons button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  background-color: rgb(300, 300, 300);
  padding-bottom: 1px;
  color: #000000;

  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
.buttons svg {
  font-size: 25px;
  transition: 0.4s;
}
.buttons button:nth-child(1) svg {
  transform: translateX(-1px);
}
.buttons button:nth-child(2) svg {
  transform: translateX(0px);
}
.buttons button:hover svg {
  opacity: 0.4;
}

.right {
  width: 100%;
  overflow: hidden;
  flex: 2;
  position: relative;
  min-height: 240px;
  background: #f9f9f9;
  border-radius: 12px;
  opacity: 0;
  transition: opacity 0.5s ease;

  overflow-wrap: break-word;
  word-break: break-word;
}
.right {
  height: 60vh; /* Ensure this has a fixed height */
  overflow: hidden;
  min-height: 400px;
}

.swiper {
  height: 100%;
  width: 100% !important;
  max-width: 100%;
  overflow: hidden;
}

.animateLeft {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.3s;
}

.animateRight {
  opacity: 1;
  transition-delay: 0.6s;
}
.head {
  gap: 20px;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    gap: 0;
  }
  .head {
    gap: 0;
  }

  .left,
  .right {
    width: 100%;
    flex: none;
  }

  .right {
    height: 400px;
  }
  .left {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .buttons {
    justify-content: flex-start;
  }
}
@media (max-width: 428px) {
  .container {
    height: 100vh;
  }
}
