.container {
  padding-top: clamp(44px, 6vw, 90px);
  padding-bottom: clamp(44px, 6vw, 90px);
  padding-inline: clamp(16px, 5vw, 80px);
  background-color: #f9f9f9;
  position: relative;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: clamp(24px, 5vw, 48px);
  align-items: stretch;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0;

  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.left h2 {
  font-size: clamp(24px, 5vw, 40px);
  font-weight: 700;
  line-height: 1.2;
  color: #111;
  margin-bottom: 16px;
}

.left p {
  font-size: clamp(16px, 2vw, 20px);
  color: #444;
  margin-bottom: auto;
}
.buttons svg{
font-size: 18px;
}
.buttons {
  display: flex;
  gap: 12px;
  margin-top: 32px;
}

.buttons button {
  width: 48px;
  height: 48px;
  border-radius: 999px;
  border: 1px solid #666;
  background-color: white;
  padding-bottom: 1px;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}

.buttons button:hover {
  background-color: #333;
  color: #fff;
}

.right {
  flex: 2;
  position: relative;
  min-height: 240px;
  padding: clamp(12px, 3vw, 24px);
  background: #f9f9f9;
  border-radius: 12px;
  opacity: 0;
  transition: opacity 0.5s ease;

  overflow-wrap: break-word;
  word-break: break-word;
}

.animateLeft {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.3s;
}

.animateRight {
  opacity: 1;
  transition-delay: 0.6s;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .left,
  .right {
    width: 100%;
    flex: none;
  }

  .buttons {
    justify-content: flex-start;
  }
}
@media (max-width: 428px) {
  .container {
    height: 100vh;
  }
}
