.card {
  width: 100%;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.6s;
}

.card.active {
  opacity: 1;
  transform: translateY(0);
}

.YouTubeEmbed {
  width: 100%;
  height: calc(100vw / 6);
  border-radius: 8px;
  overflow: hidden;
}

.cardBottom {
  max-width: 100%;
}

.cardBottom svg {
  color: #c5c5c5;
}

.title {
  font-size: 16px;
}

.description {
  line-height: 150%;
  color: gray;
}

@media (max-width: 1025px) {


  .title {
    font-size: 15px;
    margin: 10px 0;
  }

  .description {
    line-height: 150%;
    color: gray;
    font-size: 12px;
  }

  .YouTubeEmbed {
    width: 100%;
    height: calc(100vw / 4);
    border-radius: 8px;
    overflow: hidden;
  }
  
}


@media (max-width: 600px) {
  .YouTubeEmbed {
    width: 100%;
    height: calc(100vw / 2);
    border-radius: 8px;
    overflow: hidden;
  }
  .card {
    margin: 10px 0;
  }
  .title {
    font-size: 12px;
    margin: 0;
    max-width:92%;
  }
  .cardBottom {
    
  }
  .cardBottom svg {
    font-size: 20px;
  }
}