.card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.videoWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
  will-change: transform, opacity;
}


.poster {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hidden {
  display: none;
}

.cardOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.7)
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  color: white;
  z-index: 2;
}

.text {
  color: #fff;
  position: absolute;
  text-align: start;
  bottom: 20px;
  left: 20px;
  z-index: 2;
}

.subtitle {
  font-size: 0.75rem;
  opacity: 0.85;
}

.title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 0.25rem;
}

.playButton {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  z-index: 3;
  transition: 0.3s ease;
}
.playButton svg {
  width: 30px;
  height: 30px;
}
.playButton:hover {
  background: rgba(255, 255, 255, 0.5);
}
