.container {
  width: calc(100% - 10px);
  background-color: rgba(255, 255, 255, 0.05);
  z-index: 100;
  animation: intro 0.5s ease both;
  border-radius: 15px;
  margin: 5px 0;

  padding: 15px 20px;
  position: relative;
}

@keyframes intro {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.componentOption {
  width: 100%;
}

.controls {
  transition: 0.4s;
  width: 100%;
}
.submitBtn {
  display: block;
  max-width: 90%;
  width: 250px;

  margin: 0 auto;
  padding: 12px 10px 10px;
  border-radius: 10px;
  border: none;
  text-transform: capitalize;
  letter-spacing: 0.54px;
  font-weight: 500;
  font-family: sans-serif;
  font-size: 14px;
  cursor: pointer;
  height: 42px;
  /* position: absolute;
  top: 44px;
  right: 20px; */
}
.submitBtn:disabled {
  opacity: 0.5;
  color: black;
  background-color: white;
}
.componentOption {
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.182);
  padding: 4px 10px 4px 15px;
}
.PageStrategy {
  width: 100%;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
