.list {
  border-radius: 15px;
  margin-bottom: 0px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
}
.container {
  margin: 5px 10px;
}

.containerAddNew {
  border-radius: 15px;
  margin-bottom: 10px;
  width: 100%;
  padding: 15px;
  background-color: #0a0a0a;

  border: 1px solid rgba(255, 255, 255, 0.18);
}
.containerAddNewLabel {
  font-size: 18px;
  font-weight: 600;
  margin: 15px 5px 10px;
}

.buttonSave {
  padding: 8px 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  font-size: 15px;
  font-family: var(--font-geist);
  cursor: pointer;
  transition: 0.4s;
  background-color: white;
  color: black;
  width: 200px;
}
.buttonSave:nth-child(2):hover:not(:disabled) {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

.btns button:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(255, 255, 255);
}
.btns button:nth-child(1):hover:not(:disabled) {
  color: rgb(255, 255, 255);
  background-color: rgb(26, 26, 26);
}

.buttonSave:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
