.intro {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(-45deg, #000428, #000, #000428, #000);
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
  z-index: 9999;
  overflow: hidden;
  flex-direction: column;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mainTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.g {
  font-size: 150px;
  font-weight: bold;
  transition: transform 1s ease;
}

.slide {
  transform: translateX(-20px);
}

.text {
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 1s ease 0.3s, transform 1s ease 0.3s;
  font-size: 50px;
  text-align: start;
  line-height: 1.1;
}

.showText {
  opacity: 1;
  transform: translateX(0);
}

.slogan {
  opacity: 0;
  transform: translateY(30px);
  font-size: 24px;
  transition: opacity 1s ease 1s, transform 1s ease 1s;
}

.sloganAppear {
  opacity: 1;
  transform: translateY(0);
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
