.Registration {
  max-width: 95%;
  width: 450px;
}

.signUpLabel {
  width: 100%;
}
.signUpLabelSm {
  width: 220px;
}
.termsSpan {
  margin-left: 12px;
}
.termsSpan p {
  margin: 5px 3px 0px;
  letter-spacing: 0.2px;
  font-weight: bold;
  font-size: 10px;
  color: white;
}


.lineBetween {
  height: 22px;
  position: relative;
  background-color: white;
  width: 30px;
  border-radius: 0;
  font-size: 14px;
  color: rgb(164, 164, 164);
  letter-spacing: 1px;
  display: inline-block;
  text-transform: capitalize;
}
.lineBetween::before {
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  z-index: -10;
  position: absolute;
  width: 200px;
  height: 1px;
  background-color: rgb(210, 210, 210);
}

.btn {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding: 10px 30px 10px;
  border: none;
  width: 300px;
  max-width: 80%;
  color:black;
  border: 1px solid black;
  text-transform: uppercase;
}
@media (max-width: 515px) {
  .signUpLabelSm {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .Registration {
    gap: 10px !important;
  }
  .termsSpan {
    margin: 0;
  }
}
