.label {
  font-size: 12px;


  gap: 8px;
  z-index: 10;
}

.label h1 {
  font-size: 12px;
  text-transform: capitalize;
}

.label input {
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  padding: 0 3px;
  width: calc(100% - 60px);
  padding: 12px 0;
  font-size: 16px;
  border: 2px solid #ccc;
  overflow: hidden;
  transform: translate(5px);
  outline: none;
  border: none;
}
/* LTR direction */
html[dir="ltr"] .label input {
  margin: 0 0px 0 10px;
}

/* RTL direction */
html[dir="rtl"] .label input {
  margin: 0 10px 0 0px;
}

.inputwrapper {
  height: 45px;
  padding-top: 1px;
  width: 100%;
  border-radius: 8px;
  position: relative;


}

.icon {
  position: absolute;
  font-size: 18px;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}
 /* LTR direction */
 html[dir="ltr"] .icon  {
  right: 12px;
}
/* RTL direction */
html[dir="rtl"] .icon  {
  left: 12px;
}


.icon svg {
  font-size: 18px;
}

.input {
  background: black;
}

.colorView {
  width: 60px;
  height: 60%;
  background-color: white;
  border-radius: 5px;
  margin: auto 10px;
  cursor: pointer;
}

.picker {
  position: absolute;
  top: 50px;
  max-width: 100%;
  display: flex;
}
 /* LTR direction */
 html[dir="ltr"] .picker  {
  right: 0;
}
/* RTL direction */
html[dir="rtl"] .picker  {
  left: 0px;
}

