.header {
  width: 100%;
  height: var(--headerHeight);
  overflow: hidden;
  background-color: black;
}

.nav {
  width: 100%;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
