.container {
  color: white;
  padding: 50px 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  filter: blur(80px);
  background:  #32a231;
  z-index: 10;
}
.container::before {
  top: 30%;
  left: 18%;
  rotate: -10deg;
  height: 25%;
  width: 500px;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: clamp(16px, 20px, 8vw);
  text-align: center;
  transition: 0.8s all;
  opacity: 0.4;
  opacity: 1;
  margin-bottom: 30px;
}

.main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  justify-content: space-between;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
}

.scoreCard {
  border-radius: 10px;
  border-right: none;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 450px;
  background: #050505;
  border-top: 1px solid #b9b9b917;
  border-bottom: 1px solid #b9b9b917;
  border-left: 1px solid #b9b9b917;
  z-index: 10;

}

.scoreDesc {
  color: #ccc;
  font-size: 14px;
  margin-top: 10px;
}

.metricsGrid {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  height: 450px;
  border-radius: 10px;

}


.metricCard {
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  background: rgba(233, 213, 255, 0.04);
  min-width: 300px;
  height: auto;
  border-left: 1px solid #b9b9b917;
  padding: 15px 20px;
  border-top: 1px solid #b9b9b917;

}
.top{
  text-align: start;
  padding: 5px 0 15px;

}
.metricValue {
  display: flex;
  gap: 5px;
  font-size: 25px;
  font-weight: bold;
  color: #32a231;
}
.unit {
  color: #666;
  font-size: 14px;
  margin-top: 10px;
}

.percentage{
  font-size: 14px !important;
  color: #32a231 !important;
}
.metricLabel {
  color: var(--p);
  font-size: 14px;
  margin-bottom: 5px;
  text-align: start;
}

.metricScore {
  font-size: 12px;
  color: #32a231;
}



.bottom {
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  border-top: 1px solid #b9b9b917;
  height: 100%;
}

.metricDesc {
  color: #ccc;
  font-size: 14px;
  font-weight: 400;
}


/* Responsive */
@media (min-width: 768px) {
  .main {
    flex-direction: row;
    justify-content: center;
  }
}
