.container {
  width: 101%;
  height: 101%;
  background-color: #1e015975;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  /* opacity: 0.5; */
  backdrop-filter: blur(80px);
}

.poster {
  width: 600px;

  aspect-ratio: 600/410;
  margin-bottom: 20px;
  transition: transform 0.2s ease-out;
  will-change: transform;
  transform-style: preserve-3d;
  
  transform: scale(1);
}

.container.show {
  transform: translate(-50%, -50%);
}
.container.hide .poster {
  transition: transform 1.2s, opacity 0.2s;
  transform: scale(30) translateY(-20px) !important;
}

.container.hide {
  background-color: transparent;
}

.container.hideFull {
  transform: translate(150%, -50%);
  display: none;
}


