.scrollWrapper {
  position: relative;
  width: 100%;
  min-height: 400vh;
}

.mainSection {
  position: relative;
  width: 100%;
}

.container {
  position: relative;
  width: 100%;
}
.container::after {
  content: "";
  background: linear-gradient(#0000, #000 70%);
  z-index: 10;
  width: 100%;
  left: 0px;
  height: 2%;
  bottom: -32px;
  pointer-events: none;
  position: absolute;
}
.header {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-bottom: 32px;
}
.ShadowBg {
  transform: translate(-50%, -50%) !important;
  bottom: unset !important;
  top: 70px;
  opacity: 0.2;
  height: 200px !important;
}
.header h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: clamp(20px, 60px, 8vw);
  text-align: center;
  transition: 0.8s all;
  opacity: 0.4;
  opacity: 1;
}

.header p {
  font-weight: bold;
  font-size: clamp(12px, 20px, 2vw);
  color: var(--p);
  margin-top: 8px;
}

.section {
  padding: 32px;
  position: sticky;
  top: 0px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #0b0b0b;
  box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease-in-out;
}
/* ANIMATIONS */
/* .active {
  opacity: 1;
}

.hidden {
  opacity: 0;
} */

.content {
  width: 90%;
  padding: 65px 0 0;
  margin: 0 auto;
}
.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}
.top h1,
.top .title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: clamp(20px, 60px, 8vw);
}
.top .description {
  width: 80%;
  font-size: clamp(12px, 20px, 2vw);
  color: var(--p);
  text-transform: lowercase;
  font-weight: 400;
}

.content h3 {
  font-size: 32px;
  margin-bottom: 16px;
}

.content p {
  font-size: 22px;
  color: #666;
  margin-bottom: 16px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  font-size: clamp(25px, 20px, 2vw);
  color: var(--p);
  margin-bottom: 12px;
  font-weight: 500;
  line-height: 1.4;
}

.link {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  position: relative;
  transform: translateY(-40px);
  justify-content: center;
  z-index: 11;
}
.link h2{
  font-weight: bold;
  text-transform: uppercase;
  font-size: clamp(20px, 20px, 8vw);
  text-align: center;
}
.getIntouch {
}
