.container {
  background-color: var(--bg200);
  border-radius: 20px;
  min-height: 250px;
  padding: 10px;
}

.left {
  flex: 1;
  font-size: 30px;

  color: var(--color200);
}
.left h1:nth-child(1) {
  opacity: 0.6;
  color: var(--color200);
}
.left {
  flex: 1;

  padding: 40px;
  font-weight: 500;
}
.left p {
  line-height: 1.4;

  font-size: 17px;
  width: 500px;
}

.title {
  opacity: 1 !important;
}

.poster {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  overflow: hidden;
}
