.cards {
  width: 600px;
  max-width: 90%;
  position: sticky;
  top: 20%;
  z-index: 10;
  height: max-content;
  transform: translateY(-25vh);
}

.card {
  transition: 0.8s;
  position: absolute;
  top: 0;
  left: 0;
  top: 150px;
  width: 100%;
  aspect-ratio: 4 / 3;
}

.cardInner {
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  transform-origin: center top;
  transition: transform 0.2s, filter 0.2s;
  transition: 0.8s;
  margin: 0 auto;
} 

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


/* .card.activeIndex {
  box-shadow: 0 25px 50px -12px rgba(22, 38, 58, 0.33);
} */
.lessThanActiveIndex {
  transform: translateY(100vh); /* pushed down */
}
