.section {
  padding: 0 0;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 1100px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  margin: 40px auto 0;

  
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.mediaClassName {
  box-shadow: 0 0 0px rgb(0, 0, 0) !important;
}
.BigCard {
  background-color: white !important;
  min-height: 350px;
  height: auto !important;
  opacity: 0;
  transition: 0.6s;
  transform: translateY(50px);
}
.fadeUp .BigCard {
  animation: intro 0.6s ease-in-out forwards;
}
@keyframes intro {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.BigCard h1 {
  color: black;
  font-size: 40px !important;
}
.BigCard p {
  color: rgba(0, 0, 0, 0.6) !important;
  font-weight: 00 !important;
}
.BigCard:nth-child(2) .mediaClassName {
  transform: translate(20%, 10%);
}
.BigCard:nth-child(4) .mediaClassName {
  transform: translate(-50%, 10%);
  left: 50%;
}
.BigCard:nth-child(3) .mediaClassName {
  transform: translate(-30%, 1%);
}

@media (max-width: 1256px) {
  .BigCard {
    width: calc(50% - 50px) !important;
    flex-grow: 0 !important;
  }
  .section {
    width: 100%;
    padding: 0 20px;
  }

  .container {
    gap: 15px;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .BigCard {
    width: calc(50% - 20px) !important;
  }

  .BigCard:nth-child(1) .mediaClassName,
  .BigCard:nth-child(2) .mediaClassName,
  .BigCard:nth-child(3) .mediaClassName,
  .BigCard:nth-child(4) .mediaClassName {
    transform: translate(-50%, 20%);
    left: 50%;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .BigCard {
    width: 100% !important;
    padding: 15px;
  }

  .BigCard h1 {
    font-size: 28px !important;
  }

  .BigCard p {
    font-size: 14px !important;
  }
}

@media (max-width: 576px) {
  .BigCard {
    width: 95% !important;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }
  .section {
    padding: 0 10px;
  }

  .BigCard {
    width: 100%;
    padding: 15px;
  }

  .BigCard h1 {
    font-size: 22px !important;
  }

  .BigCard p {
    font-size: 12px !important;
  }
}
