.container {
  position: relative;
  display: flex;
  height: 90vh;
  width: 100%;
  gap: 100px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orbitContainer {
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotateOrbit linear infinite;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.inner {
  position: absolute;
  /* width: 120px;
  height: 120px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.forwardRotation {
  animation: rotateOrbit linear infinite;
}

.reverseRotation {
  animation: rotateOrbitReverse linear infinite;
}

.orbitItem {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
}
.logo {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.orbitItem .logo {
  filter: brightness(40%);
  transition: 0.2s ease-in-out;
}
.orbitItem:hover .logo {
  filter: brightness(100%);
}

.activeCircle .logo {
  filter: brightness(100%);
}

.reverseRotation .logo {
  animation: 20s rotateOrbit linear infinite;
}

.forwardRotation .logo {
  animation: 20s rotateOrbitReverse linear infinite;
}
