.container {
  width: 100%;
  z-index: 10;
  position: relative;
  background-color: #4008a1;
  margin-bottom: -30vh;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}

.card {
  width: 100%;
  margin: 0 auto;
  height: 130dvh;
}

.title {
  color: white;
}
.whietspace {
  background-color: #4008a1;
  position: absolute;
  bottom: -50px;
  left: 0;
  height: 100px;
  width: 100%;
  z-index: -1;
}

.card:nth-child(odd) {
  direction: rtl;
}

@keyframes introCard {
  from {
    transform: translateY(30%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@media (max-width: 900px) {
  .whietspace {
    height: 80px;
  }
  .container {
    margin-bottom: -10vh;
  }

  .card {
    height: 100dvh;
  }
}

@media (max-width: 768px) {


  .whietspace {
    height: 60px;
  }

  .card:nth-child(odd) {
    direction: ltr;
  }
}

@media (max-width: 480px) {
  .whietspace {
    height: 40px;
  }
}
