.container {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 90%;
  box-sizing: border-box;
  padding-bottom: 100px;
  width: 1200px;
  margin: 100px auto;
}

.list {

  gap: 40px;
}

.title {
  width: 100%;
  margin: 20px 15px;
  font-size: clamp(25px,4vw,40px) !important;

}

@media (max-width:768px) {
  .container {
    margin: 0px auto;
    padding-bottom: 50px;
  }
  .list {
    gap: 20px ;
  }
}
