/* components/FogetPasssword.module.css */

.FogetPasssword {
    width: 90%;
}

.FogetPasssword h2 {
    color: var(--main-color-alt);
    margin-bottom: 20px;
}

.FogetPasssword .mySwiper {
    width: 600px;
    max-width: 100%;
}

.FogetPasssword label {
    width: 350px;
    max-width: 90%;
}

.FogetPasssword .control-nav ul li a {
    padding: 5px 15px 8px;
    margin: 0px 10px;
    color: var(--main-color-alt);
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: 0.4s;
}

.FogetPasssword input:focus {
    outline-color: var(--bg-overlay);
}
