.container {
  background-color: var(--color200);
  padding: 15vh 0 18vh;
  position: relative;
  z-index: 9;
  
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.title {
  height: max-content;
  transform: translateY(-25px);
  min-width: max-content;
  color: var(--color500);
  font-weight: 400;
  font-size: clamp(20px, 2.5vw, 40px) !important;
}
.description {
  width: 80%;
  flex-grow: 1;

  color: white;

  font-size: clamp(12px, 2vw, 20px);

  font-weight: 500;
  line-height: 1.6;
  margin-top: 5px;

  transform: translateY(60px);
}
.description p {
  position: relative;
}

.description p {
  transition: 0.6s;
}
/* .description:hover p {
  opacity: 0.3;
  transform: scale(1);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.description p:hover {
  opacity: 1;
} */
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    gap: 0px !important;
  }
  .container {
    padding: 50px 0;
  }
  .description {
    width: 100%;
    margin: 0 !important;
    transform: translate(40px, 25px);
    max-width: calc(100% - 45px);
  }
  .title {
    font-size: clamp(20px, 8vw, 40px) !important ;
    transform: translate(0);
  }
  .description span {
    opacity: 1 !important;
  }
}
