.logo {
  position: fixed;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  background-color: #0a0a0a;
  z-index: 10000000000000000000;
  border: 2px solid rgb(42, 42, 42);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s;
}
.logo:hover {
  background-color: #1d1c1c;
}
.logo svg {
  transition: 0.4s;
  margin-left: 1px;
  aspect-ratio: 4/4;
  width: 25px;
  height: auto;
}
.logo:hover svg {
  transform: scale(1.05);
}
